.pagination {
    list-style: none; 
    display: flex;
    justify-content: center; 
  }
  
  .pagination li {
    margin: 0 5px; 
  }
  
  .pagination button {
    padding: 8px 12px;
    background-color: #4CAF50; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .pagination button:hover {
    background-color: #45a049; 
  }
  
  .pagination .active button {
    background-color: #45a049; 
  }
  